/* globals */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.center {
  text-align: center;
}

/* header */

.strip-green-small {
  background-color: #7bd96c;
  height: 1rem;
}

.menu-container {
  background-color: #000;
  color: #fff;
  padding: 10px 20%;
}

@media screen and (max-width: 785px) {
  .menu {
    margin-top: 10px !important;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 20px;
}

.logo span {
  font-size: 1.3rem;
}

.logo span#light {
  font-weight: 300;
}

.menu a {
  color: #fff;
  margin-right: 4rem;
  text-decoration: none;
}

.strip-green-large {
  background-color: #7bd96c;
  padding-top: 1.2rem;
  padding-left: 20%;
  padding-right: 20%;
}

.strip-green-large span {
  font-size: 1.5rem;
}

.strip-green-large span#strip-green-border {
  border-bottom: 4pt solid #194024;
}

/* carrousel */

.carrousel-item1 {
  height: 40%;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
}

.carrousel-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 717px) {
  .btn-left-f,
  .btn-right-f {
    position: default !important;
    right: default !important;
    left: default !important;
    background-color: #f00;
  }
  .content-main {
    position: default !important;
    right: default !important;
  }
  .carrousel-content {
    justify-content: space-between !important;
  }
}

.btn-left-f button {
  transform: rotate(180deg);
}

.carrousel-content button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-left-f {
  position: absolute;
  left: 10rem;
}

.btn-right-f {
  position: absolute;
  right: 10rem;
}

.content-main {
  color: #fff;
  font-weight: bold;
  text-align: right;
  position: absolute;
  right: 15rem;
}

#second {
  color: #fff;
  font-weight: bold;
  text-align: left;
  position: absolute;
  left: 15rem;
}

.content-main span,
#second span {
  margin-top: 2px;
  background-color: #7bd96c;
  color: #000;
  padding: 4px;
}

/* home - main section */

.section2 {
  margin-top: 20px;
}

.section2 h1 {
  font-size: 22px;
  font-weight: bold;
}

.image-control {
  margin-bottom: 20px;
}

.image-control img {
  cursor: pointer;
}

.right-column {
  padding: 0 5rem !important;
}

.right-column h1 {
  margin-bottom: 30px;
}

.right-column p#tiny {
  margin-top: -20px;
  margin-bottom: 40px;
}

.right-column .prices-item h2 {
  color: #797979;
}

.right-column .prices-item h3#red {
  color: #d94040;
}

.right-column h2#green {
  color: #7bd96c;
}

.btn-form-selection button,
.submit-btn button {
  height: 35px;
  width: 160px;
  background-color: #7bd96c;
  color: #194024;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}
.btn-form-selection button:disabled,
.submit-btn button:disabled {
  background-color: #a6e69c;
}

.list-or li {
  margin: 10px 0;
}

.texture-stripe {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  padding: 0 20%;
  position: relative;
  width: 100%;
}

.title-text span {
  color: #7bd96c;
  font-size: 1.6rem;
  border-bottom: 5px solid #7bd96c;
}

.green-border {
  height: 13px;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7bd96c;
}

.green-home-stripe {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  padding: 0 20%;
  position: relative;
  width: 100%;
  background-color: #7bd96c;
}

.black-border {
  height: 13px;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
}

.green-home-stripe span {
  color: #194024;
  font-size: 1.6rem;
  border-bottom: 5px solid #000;
}

.bulb-image {
  background-position: center;
  background-size: cover;
  height: 120px;
}

.strip-texture-bulb {
  min-height: 90px;
  display: flex;
  align-items: flex-end;
  padding: 0 20%;
  width: 100%;
}

.strip-texture-bulb span {
  color: #7bd96c;
  border-bottom: 5px solid #7bd96c;
  font-size: 1.5rem;
}

.asked-questions {
  margin-top: 50px !important;
}

.label-float input,
.label-float textarea {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.label-float input:focus,
.label-float textarea:focus {
  border-bottom: 2px solid #3951b2;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
}

.label-float input::placeholder,
.label-float textarea::placeholder {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  color: gray;
}

.label-float input[reqprop="yes"],
.label-float textarea[reqprop="yes"] {
  border-bottom: 2px solid #d94040;
}

.label-float input[reqprop="yes"]::placeholder,
.label-float textarea[reqprop="yes"]::placeholder {
  color: #d94040;
}

.label-float input:focus::placeholder,
.label-float textarea:focus::placeholder {
  color: #3951b2;
}

.label-float .count {
  display: flex;
  justify-content: space-between;
}

.label-float .count p {
  color: #d94040;
}

.label-float .count p#normal {
  color: grey;
}

/* footer */

.footer1 {
  background-color: #000;
  padding: 40px 0;
}

.footer1 ul {
  list-style: none;
}

.footer1 ul li {
  margin-bottom: 10px;
}

.footer1 ul li a {
  color: #7bd96c;
  text-decoration: none;
}

.footer1 p {
  color: #fff;
  margin: 0;
}

.right-text {
  margin-top: 30px;
}

.footer2 {
  padding: 0;
  background-color: #7bd96c;
  color: #194024;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer2 p {
  margin: 0;
  font-size: 1.1rem;
}

/* success page */

.success-page {
  padding-top: 40px;
  padding-bottom: 40px;
}

.success-page h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.success-page h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.success-page button,
.erros button {
  height: 35px;
  width: 200px;
  border: none;
  background-color: #7bd96c;
  color: #194024;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
}

.erros {
  padding-top: 60px;
  padding-bottom: 60px;
}

.erros h1 {
  font-weight: bold;
}

/* map */

.map-container {
  display: flex;
  justify-content: center;
}

/* modal */

.autocomplete-container {
  background-color: #ccc;
  padding: 10px;
}

.autocomplete-container p {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px;
}

.autocomplete-container p:hover {
  background-color: #fff;
}

.modal-container-comp {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cont {
  background-color: #fff;
  width: 70%;
  max-width: 750px;
  border-radius: 10px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-header {
  background-color: rgb(66, 163, 63);
  color: #fff;
}

.modal-header h3 {
  font-weight: bold;
}

.modal-input {
  padding: 20px;
}

.calculator-results {
  border-bottom: 1px dashed #8c8c8c;
  color: #8c8c8c;
}

.buttons-modal {
  margin-top: 40px !important;
}

.buttons-modal button {
  outline: none;
}

.buttons-modal button#cancel {
  background-color: rgb(206, 100, 89);
  color: rgb(23, 58, 52);
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.buttons-modal button#cancel img {
  margin-right: 3px;
}

.buttons-modal button#next {
  background-color: #7bd96c;
  color: rgb(23, 58, 52);
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px !important;
}

.buttons-modal button#next img {
  margin-left: 3px;
}
